extends layout

block content

  .index-container
   form
     div
       h1 -Calculadora del Indice de Masa Corporal (IMC)-
       p Bienvenido a la pagina de Stefan Oebels.
       p En esta pagina podras calcular el IMC (Indice de Masa Corporal).
       p Asi como tambien se podra encontrar informacion relacionada.


       P -Para calcular el IMC por el Sistema Metrico o por el Sistema Ingles por favor precione el siguiente boton:-
       <div class="form-group">
        <button type="button" class="btn-return" onclick="window.location.href='/opciones'"> -Calcular IMC.- </button>
       
        P -Para acceder a informacion sobre el IMC por favor precione el siguiente boton:-
        <button type="button" class="btn-return"  onclick="window.location.href='/informacion'">-Informacion sobre el IMC-.</button>
       </div>


