html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title STEFAN-EXTRA-
    link(rel="stylesheet", href="/css/style.css")
  body
    nav
      ul
        li
          a(href='/') -Pagina Principal-
        li
          a(href='/calculadora-imc') -Sistema Metrico-
        li
          a(href='/calculadora-imc2') -Sistema Ingles- 


    .informacion
      h1 -Informacion sobre el Indice de Masa Corporal (IMC).-
      p Recuerda que el índice de masa corporal (IMC) es el peso de una persona en kilogramos dividido por el cuadrado de la estatura en metros. El IMC es un método de evaluación fácil y económico para la categoría de peso: bajo peso, peso saludable, sobrepeso, y obesidad.
      p El IMC no mide la grasa corporal directamente, pero el IMC se correlaciona moderadamente con medidas más directas de la grasa corporal. Además, el IMC parece estar tan fuertemente correlacionado con diversos resultados metabólicos y de enfermedades como lo están estas medidas más directas de la grasa corporal.
      h1 ¿Cómo se usa el IMC?
      p El IMC se usa como una herramienta de detección, pero no diagnostica la grasa corporal ni la salud de un individuo10. Para determinar si el exceso de peso es un riesgo para la salud, un proveedor de atención médica necesitará realizar evaluaciones adicionales.
      h1 ¿Por qué se usa el IMC para medir el sobrepeso y la obesidad?
      p Debido a que el cálculo solo requiere la estatura y el peso, el IMC es una herramienta económico y fácil de usar. Para ver la fórmula ya sea en kilogramos y metros o libras y pulgadas. 
      h1 ¿El IMC se interpreta de la misma manera para los niños y adolescentes que para los adultos?
      p El IMC se interpreta de manera diferente para niños y adolescentes, aunque se calcula utilizando la misma fórmula que el IMC para adultos. El IMC de niños y adolescentes debe ser específico para la edad y el sexo porque la cantidad de grasa corporal cambia con la edad y la cantidad de grasa corporal difiere entre niñas y niños.